
.detail-wrapper{
    margin-top: 150px;
    height: 400px;
    padding: 0 6%;
}

.detail-wrapper .detail-container{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    height: 100%;
    padding: 18px;
    display: flex;
}
.detail-card-1{
    height: 100%;
    min-width: 350px;
    margin-right: 20px;
   
}
.detail-card-1 img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.detail-card-2{
    height: 100%;
    flex-grow: 1;
    position: relative;
}
.detail-text-1{
   border-bottom:  rgb(0 0 0 / 12%) solid 0.7px;
   padding-bottom: 10px;
}
.detail-text-1 .store{
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}
.detail-text-1 .title{
    font-weight: 700;
    font-size: 19px;
}
.detail-text-1 .ratings-card{
    display: flex;
    margin-top: 10px;
}
.detail-text-1 .ratings-card i{
    color: #f68b1e;
    font-weight: 700;
    font-size: 15px;
}

.ratings-card .ratings-num{
    margin-left: 15px;
    color: #282828;
}

.store .official-store{
    background-color: #276076;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
    border: 50px;
}

.store .orange{
    font-size: 1.3rem;
    color: #f68b1e;
  
}

.store .red{
    font-size: 1.3rem;
    color: red;
  
}
.detail-text-2{
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.detail-text-2 .price-card{
    margin-bottom: 26px;
}
.detail-text-2 .price{
    font-weight: 900;
    font-size: 25px;
    color: #282828;
}
.detail-text-2 .discount{
    font-weight: 900;
    font-size: 20px;
    color:#276076;
    text-decoration: line-through;
}
.detail-text-2 .discount-num{
    background-color: #feefde;
    padding: 2.5px;
    margin-left: 5px;
    color: #f68b1e;
}

.detail-text-2 .cart{
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #f68b1e;
    color: white;
    cursor: pointer;

}
.detail-text-2 .cart button{
    flex-grow: 1;
    padding: 10px 6px;
    text-align: center;
    color: white;
    background-color: #f68b1e;
    border: transparent;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
}

.detail-text-2 .cart:hover,.detail-text-2 .cart button:hover{
    background-color: #0984e3;
}
.detail-text-2 .cart i{
    font-size: 17px;
    font-weight: 800;
    margin: 0 16px;
    padding: 0 5px;
   
}

.product-description{
    margin-top: 40px;
}
.description-wrapper{
    padding: 0 6%;
}
.product-description .title{
    border-bottom:  rgb(0 0 0 / 12%) solid 0.7px;
    padding: 10px 0;
    color: #282828;
    font-size: 20px;
    font-weight: 900;
}
.product-description p{
    line-height: 1.4;
}

.product-feedback{
    padding: 0 6%;
    margin:80px 0;
}
.feedback-wrapper{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    padding: 20px 10px;
}

.verified-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom:  rgb(0 0 0 / 12%) solid 0.7px;
    
}
.verified-box .box1{
    font-size: 18px;
    font-weight: 700;
}

.verified-box .box2{
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #282828;
}
.verified-box .box2:hover{
    color: #f68b1e;
}
.verified-box .box2 i{
    margin: 0 4px;
}

.feedback-container{
    display: flex;
 
}
.feedback-box1{
    min-width: 300px;
    padding: 8px 16px;
    
}
.feedback-box2{
    flex-grow: 1;
    padding: 8px 16px;
}


.feedback-box1-wrapper .initial-text{
    font-weight: 700;
}
.feedback-box1-wrapper .box1-card{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 6px;
    padding: 10px 0 15px 0;
}
.box1-card  .box1-num{
    font-size: 25px;
    font-weight: 900;
    margin: 5px 0;
    color: #f68b1e;
}
.box1-card .box-ratings{
    font-size: 18px;
    font-weight: 900;
    color: #f68b1e;
}
.box1-card .box1-verified{
    font-size: 18px;
    margin: 5px 0;
}

.box2-card{
   margin: 16px 0;
  
}

.box2-card .box2-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.box2-card .box2-items i{
    color: #f68b1e;
    margin: 0 3px;
}

.feedback-box2 .initial-text{
    font-weight: 700;
    margin: 10px 0;
}

.comment-card{
    border-bottom:  rgb(0 0 0 / 12%) solid 0.7px;
    padding: 14px;
}
.comment-card .stars{
    margin: 6px 0;
}
.comment-card .stars i{
    color: #f68b1e;
}
.comment-card .username{
    font-weight: 700;
    margin: 10px 0;
}
.comment-card .extra-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
}
.extra-container .extra1{
    color: #276076;
    font-size: 16px;
    font-weight: 600;
}

.extra-container .extra2{
    font-size: 16px;
    font-weight: 600;
    color: #6dbd28;
}


@media screen and (max-width:900px) {
    
   
    .detail-wrapper .detail-container{
        flex-direction: column;
    }
    .detail-wrapper{
        height: 600px;
        margin-top: 140px;
    }
    .detail-card-2{
        height: 50%;
    }
    .detail-card-1{
        height: 40%;
    }
    
    .feedback-container{
        display: flex;
        flex-direction: column;
     
    }
}