{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{% static 'css/product-list.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
    <div class="container">
        <aside id="aside">
            <div class="top">
                <div class="logo">
                    <img src="./images/logo.png" alt="">
                    <h2>EGA<span class="danger">TOR</span></h2>
                </div>
                <div class="close" id="close_btn">
                    <span class="material-symbols-sharp">
                        close
                    </span>
                </div>
            </div>
            
            <div class="sidebar">
                <a href="#">
                    <span class="material-symbols-sharp">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="#" class="active">
                    <span class="material-symbols-sharp">
                        account_circle
                    </span>
                    <h3>Customers</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        receipt_long
                    </span>
                    <h3>Orders</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        insights
                    </span>
                    <h3>Analytics</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        mail_outline
                    </span>
                    <h3>Messages</h3>
                    <span class="message-count">26</span>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        inventory
                    </span>
                    <h3>Product</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        report_gmailerrorred
                    </span>
                    <h3>Report</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-symbols-sharp">
                      add
                    </span>
                    <h3>Add Product</h3>
                </a>
               
                <a href="#">
                    <span class="material-symbols-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>

         <!--END OF ASIDE-->

         <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date">
            </div>

            <div class="insights">
                <div class="sales">
                    <span class="material-symbols-sharp">
                        analytics
                    </span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Sales</h3>
                            <h1>$25,000</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text_muted">Last 24 Hours</small>
                </div>
                <!--END OF SALES-->

                <div class="expenses">
                    <span class="material-symbols-sharp">
                        bar_chart
                    </span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Expenses</h3>
                            <h1>$14,500</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>65%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text_muted">Last 24 Hours</small>
                </div>
                <!--END OF EXPENSES-->

                <div class="income">
                    <span class="material-symbols-sharp">
                        stacked_line_chart
                        </span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Income</h3>
                            <h1>$5,650</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>28%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text_muted">Last 24 Hours</small>
                </div>
                <!--END OF INCOMES-->
            </div>
            
             <div class="table-wrapper">
                {% if product %}
                <table border="1">
                    <thead>
                        <tr class="head"><th>Id</th>
                        <th>Product Name</th>
                        <th>Created</th>
                        <th>Price</th>
                        <th>Discount</th>
                        <th>Avaliable</th>
                        <th>Actions</th>
                    </tr></thead>
                    
                    <tbody>
                        {% for data in product %}
                        <tr>
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.created_date}}</td>
                        <td>{{data.price}}</td>
                        <td>{{data.discount_price}}</td>
                        <td>{{ data.avaliable }}</td>
                        <td>
                           <div class="action-wrapper">
                            <a href="{% url 'edit-product' data.id %}" class="edit">Edit</a>
                            <a href="" class="delete">Delete</a>
                           </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody></table>
                {% else %}
                <h3 style="margin: 50px 0;">You haven't created any product yet! <a style="text-decoration:underline;color:blue;" href="{% url 'create-product' %}">Create</a></h3>
                {% endif %}
             </div>
        </main>
        <!--END OF MAIN-->

        
    </div>
</body>
<script src="{% static 'javascript/product-list.js' %}"></script>
</html>