{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/salecenter.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
   <header class="header">
    <div class="header-container">
        <div class="title-card">
            <span class="title">JUMIA</span><span class="sale">SALECENTER</span>
        </div>
        <div class="shop-card">
           <span>CodeShop</span>
           <i class="fa-regular fa-user"></i>
        </div>
    </div>
   </header>
{% block content %}

{% endblock %}


 <footer class="footer">
        <div class="footer-wrapper">
            <div class="footer-card">
                <div class="f-headline f-item">LET US HELP YOU</div>
                <div class="f-item">
                    <a href="">Help Center</a>
                </div>
                <div class="f-item">
                    <a href="">Contact Us</a>
                </div>
                <div class="f-item">
                    <a href="">How to shop on Jumia?</a>
                </div>
                <div class="f-item">
                    <a href="">Delivery options and timelines</a>
                </div>
                <div class="f-item">
                    <a href="">How to return a product on Jumia?</a>
                </div>
                <div class="f-item">
                    <a href="">Corporate and bulk purchases</a>
                </div>
                <div class="f-item">
                    <a href="">Report a Product</a>
                </div>
                <div class="f-item">
                    <a href="">Ship your package anywhere in Nigeria</a>
                </div>
                <div class="f-item">
                    <a href="">Dispute Resolution Policy</a>
                </div>
            </div>
            <div class="footer-card">
                <div class="f-headline f-item">ABOUT JUMIA</div>
                <div class="f-item">
                    <a href="">About us</a>
                </div>
                <div class="f-item">
                    <a href="">Contact Us</a>
                </div>
                <div class="f-item">
                    <a href="">Jumia careers</a>
                </div>
                <div class="f-item">
                    <a href="">Jumia Express</a>
                </div>
                <div class="f-item">
                    <a href="">Terms and Conditions</a>
                </div>
                <div class="f-item">
                    <a href="">Privacy and Cookie Notice</a>
                </div>
                <div class="f-item">
                    <a href="">Jumia Prime</a>
                </div>
                <div class="f-item">
                    <a href="">Jumia Prime</a>
                </div>
                <div class="f-item">
                    <a href="">Jumia Global</a>
                </div>
                <div class="f-item">
                    <a href="">Flash Sales</a>
                </div>
                <div class="f-item">
                    <a href="">Brand Festival 2022</a>
                </div>
            </div>
            <div class="footer-card">
                <div class="f-headline f-item">MAKE MONEY WITH JUMIA</div>
                <div class="f-item">
                    <a href="">Sell on Jumia</a>
                </div>
                <div class="f-item">
                    <a href="">Contact Us</a>
                </div>
                <div class="f-item">
                    <a href="">Become a Sales Consultant</a>
                </div>
                <div class="f-item">
                    <a href="">Become a Jumia Vendor Service Provider</a>
                </div>
                <div class="f-item">
                    <a href="">Become a Logistics Service Partner</a>
                </div>
                <div class="f-item">
                    <a href="">Join the Jumia DA Academy</a>
                </div>
                <div class="f-item">
                    <a href="">Join the Jumia KOL Program</a>
                </div>
                
            </div>
            <div class="footer-card">
                <div class="f-headline ">JUMIA INTERNATIONAL</div>
                <div class="f-item">
                    <a href="">Algeria</a>
                </div>
                <div class="f-item">
                    <a href="">Egypt</a>
                </div>
                <div class="f-item">
                    <a href="">Ghana</a>
                </div>
                <div class="f-item">
                    <a href="">Tunisia</a>
                </div>
                <div class="f-item">
                    <a href="">Uganda</a>
                </div>
                <div class="f-item">
                    <a href="">South Africa</a>
                </div>
                <div class="f-item">
                    <a href="">Ivory Coast</a>
                </div>
                <div class="f-item">
                    <a href="">Senegal</a>
                </div>
                <div class="f-item">
                    <a href="">Morocco</a>
                </div>
                
            </div>
        </div>
    </footer>
</body>
{% block script %}
{% endblock %}
</html>