{% extends 'Shop/index.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}


{% block content %}

   <!--login starts-->
   <section class="login-container">
    <section class="login-wrapper">
        
        <form action="" method="POST">
            {% csrf_token %}
            {% if form.errors %}
            <p style="color: red;font-size: 1.6rem;">{{form.password2.errors}}</p>
            {% endif %}
           
            <div class="icon-card">
                <i class="fa-solid fa-star"></i>
                <div class="icon-text">Login to your JUMIA account</div>
            </div>
            <div class="form-items">
                {{form.email}}
            </div>
            <div class="form-items">
                {{form.first_name}}
            </div>
            <div class="form-items">
                {{form.last_name}}
            </div>
            <div class="form-items">
                {{form.password1}}
                <div id="toggle" onclick="ShowHide()"></div>
            </div>
            <div class="form-items">
                {{form.password2}}
                <div id="toggle2" onclick="ShowHide2()"></div>
            </div>
            <div class="form-item">
               <button>Login</button>
            </div>
            <p class="support">For further support, you may visit the Help Center or contact our customer service team.</p>
        </form>
    </section>
   </section>
   <!--login ends-->
{% endblock %}

{% block script %}
<script src="{% static 'javascript/signup.js' %}"></script>
{% endblock %}